body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(31, 178, 247, 0.5);
  width: 100%;
}
body::before {
  content: "";
  background-image: url(../images/weather-backrnd.jpg);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
h1 {
  text-align: left;
  margin-top: 30px;
  text-transform: capitalize;
  margin-left: 40px;
  color: rgb(70, 70, 70);
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  margin: 0;
  margin-left: 20px;
}
.weather-app {
  width: 750px;
  margin: 0;
  padding: 0;
}
.card-base {
  margin: 0;
  border: solid rgba(24, 18, 110, 0.705) 5px;
  border-radius: 25px;
  background: white;
  width: 680px;
  height: 500px;
  padding-left: 10px;
}
.city-search {
  padding: 0;
  width: 750px;
}
.container-fluid.search {
  justify-content: start;
  padding: 0;
}
.d-flex {
  width: 60%;
}
.search-button {
  border: #fa3d76 solid 2px;
  border-radius: 5px;
  background-color: #f65282;
  color: white;
  padding: 5px 25px;
  margin: 0 5px;
  box-shadow: 1px 3px 4px rgb(158, 156, 156);
}
.search-button:hover {
  opacity: 0.8;
  color: white;
  border: #fa3d76 solid 2px;
  transition: ease-in-out 250ms;
}
.location-button {
  padding: 5px 16px;
  margin: 0 5px;
  border: rgb(47, 233, 214) solid 2px;
  background-color: turquoise;
  transition: ease-in-out 200ms;
  box-shadow: 1px 3px 4px rgb(158, 156, 156);
  border-radius: 5px;
}
.location-button:hover {
  opacity: 0.7;
  background: turquoise;
  border: turquoise solid 2px;
}

.date {
  margin: 0 auto;
  margin-left: 40px;
  padding: 0;
  text-align: left;
  color: #f65282;
  text-transform: capitalize;
}
.pink {
  color: #f65282;
}
.date-description {
  color: #a9a6c2;
  margin-left: 40px;
  text-transform: capitalize;
}
.attributes {
  display: block;
  margin-left: 160px;
  text-align: left;
  color: #a9a6c2;
}
.temp {
  font-size: 63px;
  font-weight: 500;
  color: rgb(70, 70, 70);
}
.temp-2 {
  font-size: 18px;
  margin-right: 0px;
  color: rgb(94, 93, 93);
}
.main-temp {
  text-align: right;
  margin-top: -40px;
  width: 250px;
}
.max-temp {
  font-weight: 600;
}
.units {
  margin-right: 0px;
}
.main-icon {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 330px;
  width: 175px;
  height: 175px;
  filter: saturate(2);
  filter: drop-shadow(0 0 0.5rem rgb(117, 115, 116));
}
.box {
  width: 115px;
  height: 125px;
  border: solid rgba(64, 224, 208, 0.651);
  background: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 2px;
  font-size: 16px;
}
.icon {
  width: 70px;
  height: 70px;
  padding-bottom: 5px;
  filter: saturate(2.5);
  filter: drop-shadow(0 0 0.5rem rgb(117, 115, 116));
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.forcast-container {
  display: inline-flex;
  margin-top: 70px;
  margin-left: 20px;
  width: 750px;
}
