body {
  font-family: "Poppins", sans-serif;
  background: rgb(232, 227, 245);
  width: 100%;
}
h1 {
  text-align: left;
  margin-top: 30px;
  text-transform: capitalize;
  margin-left: 10px;
  color: rgb(70, 70, 70);
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  width: 800px;
  margin: 0;
  margin-left: 20px;
}
.weather-app {
  width: 750px;
  margin: 0;
  padding: 0;
}
.base {
  margin: 0;
  border: solid rgb(189, 182, 182) 5px;
  border-radius: 25px;
  background: white;
  width: 680px;
  height: 500px;
}
.city-search {
  padding: 0;
  width: 750px;
}
.container-fluid.search {
  justify-content: start;
  padding: 0;
}
.d-flex {
  width: 60%;
}
.search-button {
  border: #fa3d76 solid 2px;
  border-radius: 5px;
  background-color: #f65282;
  color: white;
  padding: 5px 25px;
  margin: 0 5px;
  box-shadow: 1px 3px 4px rgb(158, 156, 156);
}
.search-button:hover {
  opacity: 0.8;
  color: white;
  border: #fa3d76 solid 2px;
  transition: ease-in-out 250ms;
}
.location-button {
  padding: 5px 16px;
  margin: 0 5px;
  border: rgb(47, 233, 214) solid 2px;
  background-color: turquoise;
  transition: ease-in-out 200ms;
  box-shadow: 1px 3px 4px rgb(158, 156, 156);
  border-radius: 5px;
}
.location-button:hover {
  opacity: 0.7;
  background: turquoise;
  border: turquoise solid 2px;
}

.date {
  margin: 0 auto;
  margin-left: 10px;
  padding: 0;
  text-align: left;
  color: #f65282;
}
.pink {
  color: #f65282;
}
.date-description {
  color: #a9a6c2;
  margin-left: 10px;
}
.attributes {
  display: block;
  margin-left: 120px;
  text-align: left;
  color: #a9a6c2;
}
.temp {
  font-size: 62px;
  font-weight: 500;
}
.temp-2 {
  font-size: 18px;
  margin-right: 0px;
  color: rgb(94, 93, 93);
}
.main-temp {
  text-align: right;
  margin-top: -30px;

  width: 200px;
}
.units {
  margin-right: 0px;
}
.main-icon {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 90px;
  left: 350px;
  width: 175px;
  height: 175px;
}
.box {
  width: 110px;
  height: 125px;
  border: solid turquoise;
  background: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 2px;
}
.icon {
  width: 70px;
  height: 70px;
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.forcast-container {
  display: inline-flex;
  margin-top: 70px;
  margin-left: 50px;
  width: 700px;
}
