body {
  font-family: "Poppins", sans-serif;
  background: rgb(232, 227, 245);
  width: 100%;
}
h1 {
  text-align: left;
  margin-top: 20px;
  text-transform: capitalize;
  margin-left: 20px;
}
ul {
  list-style: none;
  margin: 0 auto;
  display: block;
  padding: 0;
}
.weather-app {
  width: 750px;
  margin: 0;
}
.city-search {
  padding: 0;
  width: 750px;
}

.d-flex {
  width: 60%;
}
.container-fluid.search {
  justify-content: start;
  padding: 0;
}
.btn-go {
  border: #fa3d76 solid 2px;
  border-radius: 5px;
  background-color: #f65282;
  color: white;
  padding: 5px 25px;
  margin: 0 5px;
  box-shadow: 1px 3px 4px rgb(158, 156, 156);
}
.btn-go:hover {
  opacity: 0.8;
  color: white;
  border: #fa3d76 solid 2px;
  transition: ease-in-out 250ms;
}
.btn-pin {
  padding: 5px 16px;
  margin: 0 5px;
  border: rgb(47, 233, 214) solid 2px;
  background-color: turquoise;
  transition: ease-in-out 200ms;
  box-shadow: 1px 3px 4px rgb(158, 156, 156);
  border-radius: 5px;
}
.btn-pin:hover {
  opacity: 0.7;
  background: turquoise;
  border: turquoise solid 2px;
}
.base {
  margin: 0;
  border: solid rgb(90, 90, 90);
  background: white;
  width: 750px;
  height: 500px;
}
.date {
  margin: 0 auto;
  margin-left: 20px;
  padding: 0;
  text-align: left;
  color: #f65282;
}
.pink {
  color: #f65282;
}
.date-description {
  color: #a9a6c2;
  margin-left: 20px;
}
.attributes {
  display: block;
  margin-top: 10px;
  margin-left: 130px;
  text-align: left;
  color: #a9a6c2;
}
.temp {
  font-size: 62px;
}
.temp-2 {
  font-size: 20px;
  text-align: right;
  margin-right: 40px;
}
.temp-container {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 30px;
  justify-content: right;
  margin-right: 20px;
}
.main-temp {
  text-align: right;
  margin-left: 20px;
}
.units {
  margin-right: 20px;
}
.forcast-card {
  margin-top: 100px;
}
.img-card {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 180px;
  left: 200px;
  margin-left: 250px;
  width: 150px;
}
.img {
  border: solid turquoise;
  width: 90%;
}
.box {
  width: 110px;
  height: 120px;
  border: solid turquoise;
  padding: 5px;
  margin: 0 5px;
  background: white;
  float: left;
  text-align: center;
}
.icon {
  width: 70px;
  height: 70px;
}
